.b-iconRoundBtn{
    
    &__edit{
        font-size: 20px;
        color: $c-cyan;
        

    }
    &__profile{
        font-size: 22px;
        color: $c-cyan;
        

    }
    &__plus{
        font-size: 15px;
        color:$c-blue-100;

    }
}