.b-roundBtn{

    background-color: $c-white;
    border-radius: 50%;
    border: none;


    &__small{
        width: 6.25rem;
        height: 6.25rem;
        
    }
    &__big{
        width: 7.5rem;
        height: 7.5rem;

    }
    
}