.create {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 40%;
    width: 100%;

    &:first-of-type {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            width: 90%;
            border-bottom: 1px solid $c-gray-75;
        }
    }

    &__icon {
        position: relative;
        top: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $c-blue-25;
        border-radius: 50%;
        color: $c-blue-75;
        font-size: 5rem;
        height: 70px;
        width: 70px;
    }
}