.c-white {
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;
    min-height: 100%;
    width: 100%;

    &-rectangle{   
    position: absolute;
    top: 25%;
    padding: 4.5rem;
    transition: transform 0.5s;
    background-color: $c-gray-25;
    border-radius: 30px 30px 0 0;
    height: 100vh;
    width: 100%;
    color: $c-blue-100;
    padding-bottom: 5rem;

    &__image{
        width: 190px;
        height: 190px;
        top: -18%;
        left: 24.5%;
    }
    &__top{
        text-align: center;
        &--h1{
            font-weight: 600;
        }
        &--h3{
            font-size: 2.5rem;
            font-weight: 600;
        }
        &--icons{
            width: 7.5rem;
            height: 4rem;
            color: $c-blue-75;
        }
    }

    &__container-iconText{
        display: flex;
    }

    &__rule{
        background-color: #00b3cd14;
        border: 0;
        height: 0.1px;
        margin-top: 2.5rem; 
    }

    &__subtitles{
        color: $c-blue-75;
        font-size: 2.4rem;
        font-weight: 600;
    }

    &__perosnal-data{
        color: $c-gray-75;
        display: inline;
        font-weight: 500;
        margin-top: 0;
        &--icons{
            color: $c-cyan;
            display: inline;
            font-size: 3rem;
            margin: 1.8rem;
            margin-left: 0;
            margin-bottom: 0;
            margin-top: 0;
        }
        &--text{
            margin-top: 3px;
        }
    }

    &__key-words{
        &--box{
            //background-color: $c-cyan;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
            color: $c-gray-30;
            text-align: center;
            &--text{
                border-radius: 0.8rem;
                background-color: $c-cyan;
                width: 30%;
                font-size: 1.8rem;
                padding: 1.4rem 0;
            }
        
            
        }
    }

    &__academic{
        &--degree{
            color: $c-cyan;
            font-weight: 600;
            margin-right: 3rem;

        }
        &--career{
            color: $c-gray-75;
            font-weight: 500;
        }   
    }
}

}