.header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-weight: $-f-medium;
    &__button{
        position: fixed;
        left: 0;
        margin-left: 9%;
    }
}
