.header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-weight: $-f-medium;
    color: black;

    &__span{
        position: fixed;
        left: 0;
        margin-left: 9%;
    }

    &__logo {
        max-width: 120px;

        &--opaque {
            opacity: 0.5;
        }
    }
}
