.main {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;


    &--blue {
        background-color: $c-blue-100;
        color: $c-gray-25;
    }

    &--white {
        background-color: $c-gray-25;
    }

    &--logo {
        &::before {
            content: url('../../logo.svg');
            position: absolute;
            bottom: 8%;
            left: -15%;
            max-height: 80vh;
            width: 105%;
            max-width: 500px;
            transform: rotate(20deg);
        }
    }
}