// COLORS
$c-white: #ffffff;
$c-cyan: #00b3cd;
$c-yellow: #ffd71f;
$c-green-dark: #44af69;
$c-green-dark: #00ffa1;
$c-blue-100: #0d202a;
$c-blue-75: #0b4f6e;
$c-blue-50: #2b81a8;
$c-blue-25: #d8eef8;
$c-blue-0: #effaff;
$c-gray-100: #4a4a4a;
$c-gray-75: #6d7278;
$c-gray-50: #d9d9db;
$c-gray-30: #e4ebef;
$c-gray-25: #f8fafb;
